.catalog {
    padding: 48px 0;
}

.title {
    color: var(--);
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    padding-bottom: 48px;
}

.catalogProducts {

    display:grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    margin-bottom: 40px;
    gap: 35px;
}

@media (max-width:1370px){
    .catalogProducts{
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}

@media (max-width: 1220px) {
    .catalogProducts {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media (max-width: 800px) {
    .catalogProducts {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}

@media (max-width: 350px) {
    .catalogProducts {
        grid-template-columns: repeat(1, minmax(280px, 1fr));
    }
}

@media (max-width: 320px) {
    .catalogProducts {
        grid-template-columns: repeat(1, minmax(268px, 1fr));
    }
}

.catalogButton {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    background: var(--btn-bg);
    padding: 0 50px;
    height: 62px;
    gap: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--main-color);
    transition:background .2s ease;
}

.button:hover {
    background: var(--btn-bg-active);
}

.button:disabled {
    background: var(--btn-bg-disabled);
}

.btnSpinner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
  
.btnSpinner img {
    width: 62px;
    height: 42px;
    display: block;
}