@font-face {
    font-family: 'Jost';
    src: url(/src/assets/fonts/Jost-Bold.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Jost';
    src: url(/src/assets/fonts/Jost-Regular.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Jost';
    src: url(/src/assets/fonts/Jost-SemiBold.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Jost';
    src: url(/src/assets/fonts/Jost-Medium.woff2);
    font-style: normal;
    font-weight: 500;
}