.text{
    padding:20px 50px;
    background: var(--btn-bg);
    color: var(--main-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.text:hover {
    background: var(--btn-bg-active);
}

.text:disabled {
    background: var(--btn-bg-disabled);
    cursor: not-allowed;
}

.icon {
    padding: 25px;
    background: var(--btn-bg);
    color: var(--main-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
}

.small{
    height: 62px;
}

.big{
    padding:0 60px;
    height: 70px;
}

.icon.small{
    width: 50px;
    height: 50px;
}

.icon.big{
    width: 60px;
    height: 60px;
}