@font-face{
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}