.item {
    max-width: 370px;
    padding-top: 48px;
}

.item__img {
    display: block;
    position: relative;
    height: 300px;
}

.mask {
    position: absolute;
    background: rgb(0 0 0 / 25%);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.2s ease;
    inset: 0;
}

.item__content {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    color: var(--text-color);
    position: relative;
}

.contentInfo {
    text-wrap: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content__title {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.content__price {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--text-color);
}

.mask:hover {
    opacity: 1;
}

.mask span {
    color: var(--main-color);
    font-size: 26px;
    line-height: 38px;
    font-weight: 800;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    border-radius: 4px;
    position: relative;
    transition: background .2s ease;
    cursor: pointer;
    background: var(--btn-bg);
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    background: var(--btn-bg-active);
}